# Credenciales
.env
config/database.json
config/telegram.json
theme_parks_collector_postgres/config/database.json
theme_parks_collector_postgres/config/telegram.json

# Entorno virtual
venv/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Modelos (grandes y reproducibles)
ml/models/*.pkl

# Internal files de Anconda
anaconda_projects/

#Outputs
outputs/

#Los gráficos de los notebooks
eda/*.png

export_sample.py

# Assets pesados
assets/logos/
reports/

# Logs
theme_parks_collector_postgres/logs/

# Backups
*.bak

#Logos
theme_parks_collector_postgres/assets/logos/